# 删除了 version 字段
services:
  # 1. Redis - 缓存与实时计算
  redis:
    image: redis:7.0
    container_name: skin_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    networks:
      - cs_net

  # 2. Nacos - 注册中心 & 配置中心
  nacos:
    image: nacos/nacos-server:v2.2.3
    container_name: skin_nacos
    platform: linux/amd64
    environment:
      - MODE=standalone
      - JVM_XMS=2g  # ⬆️ 调大
      - JVM_XMX=2g  # ⬆️ 调大
      - JVM_XMN=1g  # 新生代给大点，减少 GC
      - PREFER_HOST_MODE=hostname
    ports:
      - "8848:8848"
      - "9848:9848"
    networks:
      - cs_net

  # 3. RocketMQ NameServer
  rmqnamesrv:
    image: apache/rocketmq:5.1.4
    container_name: skin_rmqnamesrv
    platform: linux/amd64
    ports:
      - "9876:9876"
    # ⬇️ 显式设置 JVM 参数
    environment:
      - JAVA_OPT_EXT=-server -Xms2g -Xmx2g -Xmn1g
    command: sh mqnamesrv
    networks:
      - cs_net

  # 4. RocketMQ Broker
  rmqbroker:
    image: apache/rocketmq:5.1.4
    container_name: skin_rmqbroker
    platform: linux/amd64
    ports:
      - "10911:10911"
      - "10909:10909"
    environment:
      - NAMESRV_ADDR=rmqnamesrv:9876
      # ⬇️ 暴力解锁：8G堆内存，大新生代，禁用自适应调整
      - JAVA_OPT_EXT=-server -Xms8g -Xmx8g -Xmn4g -XX:+UseG1GC -XX:MaxGCPauseMillis=200
    volumes:
      - ./rocketmq/broker.conf:/home/rocketmq/rocketmq-5.1.4/conf/broker.conf
    command: sh mqbroker -c /home/rocketmq/rocketmq-5.1.4/conf/broker.conf
    depends_on:
      - rmqnamesrv
    networks:
      - cs_net

  # 5. RocketMQ Dashboard (控制台)
  rmqdashboard:
    image: apacherocketmq/rocketmq-dashboard:latest
    container_name: skin_rmq_console
    platform: linux/amd64
    ports:
      - "8088:8082"
    environment:
      - NAMESRV_ADDR=rmqnamesrv:9876
      - JAVA_OPTS=-Drocketmq.namesrv.addr=rmqnamesrv:9876 -Dcom.rocketmq.sendMessageWithVIPChannel=false -Xmx1g -Xms1g
    depends_on:
      - rmqnamesrv
    networks:
      - cs_net

networks:
  cs_net:
    driver: bridge